/** Paramètres et forme globale du CV **/
* {
	box-sizing: border-box; 
}

@font-face {
	font-family: 'coolvetica';
	src: url("../fonts/coolvetica/coolvetica_rg.ttf");
}

body {
	background-color: rgb(85, 85, 90);
	background-image: url('../img/bg.jpg');
	display: flex;
	justify-content: center;
	font-family: 'coolvetica';
}

main {
	display: flex;
	flex-direction: column;

	width: 1000px;
	padding: 10px;

	background-color: #FFFFFF;
}

h1, h2, h3 {
	font-family: 'coolvetica';
}

h2, h3 {
	margin-top: 0px;
	margin-bottom: 5px;
}

/** Définition de la tête du CV **/
#titre {
	display: flex;
	justify-content: center;

	border-bottom: 2px #000000 solid;
}

#poste {
	border-bottom: 2px #000000 solid;
	display: flex;
	justify-content: center;
}
	#poste p {
		margin: auto;
		font-size: 40px;
		font-weight: bold;
	}

/** Définition du corps du CV **/
#mainContent {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}

#premierePartie {
	display: flex;
	width: 100%;
}

/** Définition de la partie Formation **/
#formation {
	background-color: rgb(184, 186, 188);
	margin-right: 10px;
	padding: 10px;
	flex-grow: 1;
}

/** Définition de la partie Informations **/
#informations {
	width: 30%;
	height: 100%;
	padding: 10px;
	background-color: rgb(184, 186, 188);
}

	#informations ul {
		list-style-type: none;
		padding-left: 0;
	}

	#informations #divProfil {
		display: flex;
		justify-content: center;
	}

	#informations img{
		margin-top: 10px;
		height: 100px;
		width: 100px;
		border-radius: 50px;
	}

/** Définition de la partie Expérience Professionnel **/
#experiencePro {
	background-color: rgb(184, 186, 188);
	margin-top: 10px;
	padding: 10px;
}


/** Définition rubrique du CV **/
.rubrique {
	background-color: rgb(116, 120, 124);
	margin-top: 10px;
	padding: 10px;
	transition: all 0.5s;
}

.rubrique img {
	height: 25px;
}

.titreRubrique {
	border-bottom: 1px solid black;
	width: 100%;
}

.rubrique:hover {
	background-color: rgb(80, 85, 85);
	transform: translate(-5px, -5px);
	box-shadow: 5px 5px 5px #656565;
	color: white; 
	border-color: white;
}

.rubrique:hover .titreRubrique {
	border-color: white;
}